.env
App/database.db
.vscode
.idea
test.md
DiscordAutoRanga.session.sql
/web/__pycache__
/web/project/__pycache__
/web/project/endpoints/__pycache__
/web/project/migrations/__pycache__
/web/project/migrations/versions/__pycache__
/web/project/models/__pycache__
